<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7 p-rgt-sec">
               <div > 
                <span class="p-tag">Fashion</span>
                <h1 class="mt-4">Elyse Maguire</h1>
                <p class="p-des mt-3 mb-4">It is a long established fact that a reader will be distracted by the readable conent of a page when looking at its layout.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/play.png" alt="The icon for read more" width="15" class="ml-2" /></a>
               </div>
                <div class="test">
                    <h6>Subscribe to our Newsletter</h6>
                    <form class="form-inline" autocomplete="off">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email here" autocomplete="off">
                            <button class="btn btn-warning">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
